{% if site.owner.google.ad-client and site.owner.google.ad-slot %}
<div class="google-ads">
  <!-- 320 x 50 ad -->
  <script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle"
       style="display:inline-block;width:320px;height:50px"
       data-ad-client="{{ site.owner.google.ad-client }}"
       data-ad-slot="{{ site.owner.google.ad-slot }}"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div><!-- /.google-ads -->
{% endif %}

<ul class="rig columns-8">
    {% for member in site.data.sponsors %}
        <li>
            <a href="{{ member.url }}" target="_blank">
                <img class="avatar" src="{{ member.avatar }}" />
            </a>
        </li>
    {% endfor %}
</ul>
